 <!--Define the HTML template for MenuBarComponent here
<nav class = "navbar navbar-default" role = "navigation">

   <div class = "navbar-header">
      <button type = "button" class = "navbar-toggle"
         data-toggle = "collapse" data-target = "#example-navbar-collapse">
         <span class = "sr-only">Toggle navigation</span>
         <span class = "icon-bar"></span>
         <span class = "icon-bar"></span>
         <span class = "icon-bar"></span>
      </button>

      <a class = "navbar-brand" routerLink = "/">Films'R'Us</a>
   </div>

   <div class = "collapse navbar-collapse" id = "example-navbar-collapse">

      <ul class = "nav navbar-nav">
         <li><a routerLink="/about">About Us</a></li>
         <li><a routerLink = "/about">Services</a></li>
         <li><a routerLink="/contact">Contact Us</a></li>
      </ul>
   </div>

</nav>

<router-outlet></router-outlet>-->
 <ul>
    <li><img routerLink="/" width=50 src="assets/logo.png"></li>
    <li><a routerLink="/">cinemaApp</a></li>
    <li><a routerLink="donate">About Us</a></li>
    <li><a routerLink="contact">Contact Us</a></li>
</ul>
