<div class="all-review">
  <h4 class="bg-secondary review-header">Reviews for this cinerma</h4>
  <div class="review-content">
    <div *ngIf="list_Review.length==0" class="no-review ">
      <span>No review yet.<br/>Be the first.</span>
    </div>
    <div class="each-review" *ngFor="let r of list_Review">
      {{r.text_review}}
    </div>
  </div>
  <div class="form-inline review-submit">
    <input class="form-control col" type="text" [(ngModel)]="reviewText" placeholder="Type your review"/>
    <button class="btn btn-primary col" (click)="getReview()">Submit</button>
  </div>
</div>

