<div class="container-fluid ">
  <div class="row titles">
    <div class="col-xs-12 col-md-6 offset-xs-0 offset-md-1 movie-presentation">
      <div class="row">
        <div class="col-xs-2">
          <img src={{imageUrl}} class="my-image" width="200" height="150 " alt="Image"/>
        </div>
        <div class="col-xs-10 title">
          <h1>{{theMovie.name}}</h1>
          <h4 ><span *ngFor="let oneTag of theMovie.tag" class="badge badge-secondary tag-badge" >{{oneTag.name}}</span> </h4>
        </div>
      </div>
    </div>
    <div class="col-xs-12 cols-md-4">
      <div class="all-detail">
        <h4 class="bg-secondary detail-header">DETAILS</h4>
        <div class="detail-content">
          <p>Synopsis : {{theMovie.synopsis}}</p>
          <p>Age limit : {{theMovie.age_limit}}</p>
          <p>Release date: {{theMovie.release_date}}</p>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-3 offset-xs-0 offset-md-1">
      <table class="movie-showtimes ">
        <h2>List of the showtimes</h2>
      </table>
    </div>
    <div class="col-xs-12 col-md-3">
      <div class="all-review">
        <h4 class="bg-secondary review-header">REVIEWS</h4>
        <div class="review-content">
          <div *ngIf="true" class="no-review ">
            <span>No review yet.<br/>Be the first.</span>
          </div>
          <div class="each-review" >

          </div>
        </div>
        <div class="form-inline review-submit">
          <input class="form-control col" type="text" [(ngModel)]="reviewText" placeholder="Type your review"/>
          <button class="btn btn-primary col" (click)="getReview()">Submit</button>
        </div>
      </div>
    </div>
    <div class="col-xs 12 col-md-4">
      <agm-map class="movie-agm-map" [latitude]="53.348" [longitude]="-6.294" [zoom]="13">
        <agm-marker [latitude]="53.348" [longitude]="-6.294"></agm-marker>
      </agm-map>
    </div>
    <div class="col-xs-12 col-md-1"></div>
  </div>
</div>
