<div class="container-fluid ">
  <div class="row titles">
    <div class="col-xs-12 col-md-6 offset-xs-0 offset-md-1 resto-home">
      <div class="row">
        <div class="col-xs-2">
          <img src={{imageUrl}} class="my-image" width="200" height="150 " alt="Image"/>
        </div>
        <div class="col-xs-10 title">
          <h1>{{cnma.name}}</h1>
          <h4 ><span *ngFor="let unTag of cnma.tag" class="badge badge-secondary tag-badge" >{{unTag}}</span> </h4>
        </div>
      </div>
    </div>
    <div class="col-xs-12 cols-md-">
      <osl-restaurant-detail [cnma]="cnma"></osl-restaurant-detail>
    </div>
    <div class="col-xs-12 col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-5 offset-xs-0 offset-md-1">
      <osl-restaurant-menu [cnma]="cnma"></osl-restaurant-menu>
    </div>

    <div class="col-xs 12 col-md-4 offset-md-1">
      <osl-restaurant-location [cnma]="cnma"></osl-restaurant-location>
    </div>
    <div class="col-xs-12 col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-3 offset-md-1">
      <osl-review [resto_id]="cnma.id"></osl-review>
    </div>
  </div>
</div>
