<div class="container-fluid ">
  <div class="row titles">
    <div class="col-xs-12 col-md-6 offset-xs-0 offset-md-1 resto-home">
      <div class="row">
        <div class="col-xs-2">
          <img src={{imageUrl}} class="my-image" width="200" height="150 " alt="Image"/>
        </div>
        <div class="col-xs-10 title">
          <h1>{{cnma.name}}</h1>
          <h6 > Address: {{cnma.address_text}}</h6>
          <h6 > Tel: {{cnma.telephone}}</h6>
          <a href="{{cnma.website}}" target="_blank"> Website</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 cols-md-5" style="width: 575px;">
      <cinema-location [cnma]="cnma"></cinema-location>
    </div>
    <div class="col-xs-12 col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-7 offset-xs-0 offset-md-1">
      <cinema-timetable [cnma]="cnma"></cinema-timetable>
    </div>
    <div class="col-xs-12 col-md-3">
      <cinema-review [cnmaId]="cnma.id"></cinema-review>
    </div>
    <div class="col-xs-12 col-md-1"></div>
  </div>
  <div class="row">
  </div>
</div>
