<div class="container-fluid">
  <div class="row ">
    <div class="col-xs-12 col-md-6">
      <div class="row"><h2 class="mx-auto">Pick the cinema you want</h2></div>
      <div class="row ">
        <agm-map class="search-agm-map" [latitude]="(initPos.lat)" [longitude]="(initPos.lng)" [zoom]="11">
          <agm-marker *ngFor="let oneCinema of allCinemas"  [latitude]="oneCinema.lat" [longitude]="oneCinema.lon">
            <agm-info-window>
              <div>{{oneCinema.name}}</div>
              <a [routerLink]="['/restaurant', oneCinema.id]">+details</a>
            </agm-info-window>
          </agm-marker>
        </agm-map>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="row"><h2 class="mx-auto">Search the movie you need</h2></div>
      <div class="row form-row mx-auto my-boxes col-xs-12 col-lg-8 offset-lg-2">
        <div class="form-group col">
          <label for="input_location">Movie title:</label>
          <input id="input_location" class="form-control" type="text" list="list_movies" placeholder="ex: avengers" [(ngModel)]="inputMovie">
          <datalist id="list_movies">
            <option ></option>
          </datalist>
        </div>
        <div class="form-group col">
          <label for="input_tag">Genre :</label>
          <select id="input_tag" class="form-control" [(ngModel)]="inputGenre">
            <option value="no" selected >Any</option>
            <option *ngFor="let oneGenre of genreList" value="{{oneGenre.id}}" >{{oneGenre.name}}</option>
          </select>
        </div>
        <button id="button_search" class="btn btn-primary form-control" (click)="getResult()" >Search</button>
      </div>
      <hr>
      <div class="table-wrapper my-boxes" >
        <table class="table my-table table-hover">
          <tbody>
          <tr *ngIf="displayedMovies.length==0"><td colspan="3" id="no-data">No movie found</td></tr>
          <tr *ngFor="let oneMovie of displayedMovies" class="my-rows" [routerLink]="['/movie', oneMovie.id]" >
            <td>{{oneMovie.name}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
