<!--div class= "menu" *ngFor="let menu of resto.menu">
  <div *ngFor="let m of menu">
    {{m}}
  </div>
</div-->
<table class="menu-table ">
  <thead class="bg-secondary">
    <tr class="each-day">
      <th class="titre"> Films on show </th>
      <td> Monday</td>
      <td> Tueday</td>
      <td> Wednesday</td>
      <td> Thursday</td>
      <td> Friday</td>
      <td> Saturday</td>
      <td> Sunday</td>
    </tr>

  </thead>
  <tbody>

    <tr class="each-entry">
      <td><h6> Lord of The Rings </h6></td>
      <td> 08:30, 10:30, 12:30, 14:30 </td>
      <td> 16:30 </td>
      <td> 14:30 </td>
      <td> 16:30 </td>
      <td> 14:30 </td>
      <td> 16:30 </td>
      <td> 16:30 </td>
    </tr>
    <tr class="each-entry">
      <td><h6> The Phantom Menace </h6></td>
      <td> 08:30, 10:30, 12:30, 14:30 </td>
      <td> 16:30 </td>
      <td> 14:30 </td>
      <td> 16:30 </td>
      <td> 14:30 </td>
      <td> 16:30 </td>
      <td> 16:30 </td>
    </tr>
    <tr class="each-entry">
      <td><h6> Placeholder </h6></td>
      <td> 08:30, 10:30, 12:30, 14:30 </td>
      <td> 16:30 </td>
      <td> 14:30 </td>
      <td> 16:30 </td>
      <td> 14:30 </td>
      <td> 16:30 </td>
      <td> 16:30 </td>
    </tr>
    <tr class="each-entry">
      <td><h6> Placeholder </h6></td>
      <td> 08:30, 10:30, 12:30, 14:30 </td>
      <td> 16:30 </td>
      <td> 14:30 </td>
      <td> 16:30 </td>
      <td> 14:30 </td>
      <td> 16:30 </td>
      <td> 16:30 </td>
    </tr>    <tr class="each-entry">
      <td><h6> Placeholder </h6></td>
      <td> 08:30, 10:30, 12:30, 14:30 </td>
      <td> 16:30 </td>
      <td> 14:30 </td>
      <td> 16:30 </td>
      <td> 14:30 </td>
      <td> 16:30 </td>
      <td> 16:30 </td>
    </tr>    <tr class="each-entry">
      <td><h6> Placeholder </h6></td>
      <td> 08:30, 10:30, 12:30, 14:30 </td>
      <td> 16:30 </td>
      <td> 14:30 </td>
      <td> 16:30 </td>
      <td> 14:30 </td>
      <td> 16:30 </td>
      <td> 16:30 </td>
    </tr>

  </tbody>
</table>
