span{
   float:left;
   padding:12px;
}
.titre{
   font-size:20px;
   background-color:#CC6666;
   color:#663333;
   padding:5px;
}
.menu-table{
  height: 250px;
}
.each-entry{

  padding: 4px;
  margin: auto;
}
.each-day{
  padding: 4px;
  margin: auto;
  background-color:#CC6666;
  color:#663333;
}

.menu-table thead {
  margin: auto;
  text-align: center;
  padding: 5px;
}
.menu-table tbody{
  background-color: rgba(225, 225, 225, 0.6);
  padding: 1px;
  margin: auto;
}
.mon-plat{
  text-align: center;
}
.menu-table tbody td:first-child, .menu-table thead th:first-child{
}.menu-table th{
   min-width: 150px;
 }

table th, td  {
  border: 1px solid black;
}
