.detail-header{
  border-bottom: 2px solid dimgray;
  margin: auto;
  text-align: center;
  padding: 5px;
}
.all-detail{
  border: 2px solid dimgray;

}
.detail-content{
  background-color: rgba(225, 225, 225, 0.6);
  padding: 5px;
}
